<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/stocks/AAPL.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title>Virtual Stocks</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs"); %>

    <main>
      <div class="navUI">
        <a href="/dashboard" id="back">⬅ Dashboard</a>
      </div>

      <div class="mainUI">
        <div class="UI_top">
          <h1 id="stockName">AAPL</h1>
          <h2 id="stockPrice">$140</h2>
        </div>
        <br />

        <div id="div_chart">
          <canvas id="chart"></canvas>
        </div>
        
        <div class="UI_mid UI_buy">
          <!-- ! Insert Variable -->
          <h3>잔액: 150돗</h3><br>
          <input
            type="number"
            name="input_buy"
            id="input_buy"
            class="input"
            type="number"
            value="0"
          /><br />
          <button class="UI_mid_btn" id="btn_buy">Buy</button>
        </div>
        <div class="UI_mid UI_sell">
          <!-- ! Insert Variable -->
          <h3>애플 종목 수: 2 / 평단: 132돗</h3><br>
          <input
            type="number"
            name="input_sell"
            id="input_sell"
            class="input"
            type="number"
            value="0"
          /><br />
          <button class="UI_mid_btn" id="btn_sell">Sell</button>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const stockName = document.getElementById("stockName").innerHTML;

      fetch(
        "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&interval=1min&apikey=UZT2YEH7Q270D8Z1"
      )
        .then((res) => res.json())
        .then((api) => {
          const obj = api;
          const objKey = Object.keys(obj)[1];
          const labels = (Object.keys(obj[Object.keys(obj)[1]])).slice(90);
          console.log(labels);

          let prices = [];

          for (let i = 0; i < 11; i++) {
            prices.push(
              Math.round(
                obj[objKey][Object.keys(obj[Object.keys(obj)[1]])[i]][
                  "4. close"
                ] * 100
              ) / 100
            );
          }


          const data = {
            labels: labels,
            datasets: [
              {
                label: "AAPL",
                backgroundColor: "rgb(256, 256, 256)",
                borderColor: "rgb(256, 256, 256)",
                data: prices,
                tension: 0.2,
              },
            ],
          };

          const config = {
            type: "line",
            data: data,
            options: {},
          };

          const myChart = new Chart(document.getElementById("chart"), config);
        });
    </script>

    <script src="client/stocks.js"></script>
  </body>
</html>
