<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/global.css">
  <title>Virtual Stock</title>
</head>
<body>
  <%- include("partials/nav.ejs") %>

  <main>
    <h1>가상 주식 시작하기</h1><br>
    <h3>첫 시작할시 500돗 무료 증정</h3><br>


    <div class="buttons">
      <button class="btn" id="btn_login">로그인</button>
      <button class="btn" id="btn_newAcc">회원가입</button>
    </div>
  </main>

  <script src="client/index.js"></script>

</body>

</html>